@using DiamondDealer.Objects
<div class="text-center m-5">
    <h3>Console Logs @LogsFromInit</h3>
    <div style="overflow-y: scroll; height:300px; ">
        <Virtualize Context="log" Items="@GameLogger.ConsoleLogs">
            <div class="alert alert-secondary">
                @log.Message
            </div>
        </Virtualize>
    </div>
</div>

@code
{
    int LogsFromInit;
    protected override void OnInitialized()
    {
        GameLogger.OnLogger += (type) => {
            if (type == typeof(Objects.ConsoleLog))
            {
                StateHasChanged(); LogsFromInit++;
            }
        };
        base.OnInitialized();
    }
    }