
.board-container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    max-width: 500px
}

.board-spot {
    width: 100px;
    height: 100px;
    position:relative;
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
}

.spot-img-dealer {
    object-fit: fill;
    width: 100%;
    height: 100%;
    position:absolute;
}
